/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
h1 {
    color: #000000;
    text-align: center;
}

/* Estilo para los párrafos */
p {
    color: #666666;
    font-size: 16px;
}

/* Estilo para los botones */
.input {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.input:hover {
    background-color: #0056b3;
}

/* Estilo para el enlace de volver atrás */
.Redirect {
    background-color: #1925d4;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.Redirect:hover {
    background-color: #1100ff;
}

/*Color del fondo*/
body {
	background: rgb(125,185,232); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(125,185,232,1) 71%, rgba(125,185,232,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(71%,rgba(125,185,232,1)), color-stop(99%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 71%,rgba(125,185,232,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(125,185,232,1) 71%,rgba(125,185,232,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(125,185,232,1) 71%,rgba(125,185,232,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(125,185,232,1) 71%,rgba(125,185,232,1) 99%); /* W3C */


filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	color: #000;
	font-family: "Century Gothic";
	font-size: 16px;
	line-height: 1.6;
}
